{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{lessons.name}} {% endblock %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <!-- Comments section -->
            <div class="col-lg-10" style="margin-top: 5rem;">
                <div class="row mb-5 justify-content-center text-center">
                    <div class="col">
                        <h2 class="section-title-underline mb-3">
                            <span>Savol & Izohlar bo'limi</span>
                        </h2>
                    </div>
                </div>

                <div class="row mb-5 justify-content-center text-center" style="margin-top: 5rem;">
                    <div class="col">
                        <h2 class="section-title-underline mb-3">
                            <span>Izohlar</span>
                        </h2>
                    </div>
                </div>
                <div class="col">
                    {% for comment in comments.all %}
                    <div>
                        <div class=" media border p-3">
                            {% if comment.author.is_superuser %}
                            <img src="{% static 'images/admin.png' %}" alt="Jane Doe" class="mr-3 mt-3 rounded-circle"
                                style="width:3rem;">
                            {% elif not comment.author.userprofileinfo.profile_pic %}
                            <img src="{% static 'images/user_avatar.png' %}" alt="Jane Doe"
                                class="mr-3 mt-3 rounded-circle" style="width:3rem;">
                            {% else %}

                            <img src="{{comment.author.userprofileinfo.profile_pic.url}}" alt="John Doe"
                                class="mr-3 mt-3 rounded-circle" style="width:3rem; height: 3rem;">

                            {% endif %}

                            <div class="media-body">
                            {% if comment.new_name %}
                                <p>Post: <a href="{% url 'new_detail' comment.new_name.pk %}">{{ comment.new_name.title }}</a></p>
                            {% else %}
                                <p>Post: <a href="{{ comment.lesson_name.get_absolute_url }}">{{ comment.lesson_name.name }}</a></p>
                            {% endif %}
                            {% if comment.author.first_name and comment.author.last_name %}
                                <h7 style="color: cadetblue;">{{comment.author.first_name}} {{comment.author.last_name}}<small
                                        style="color: cadetblue;"><i> {{comment.date_added}}</i></small></h7>
                                        {% elif comment.author.is_superuser%}
                                        <h7  style="color: blue">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                        </svg>

                                        ADMIN

                                        <small
                                        style="color: cadetblue;"><i> {{comment.date_added}}</i></small></h7>

                                        {% else %}
                                        <h7 style="color: cadetblue;">{{comment.author.username}} <small
                                        style="color: cadetblue;"><i> {{comment.date_added}}</i></small></h7>
                                        {% endif %}
                                <p style="background-color:ghostwhite;">{{comment.body}} [{{ comment.type }}]</p>
                                {% if comment.field %} <p>Sohasi: {{ comment.field }}</p> {% endif %}
                                {% for reply in comment.replies.all %}
                                <div class="media border p-3">
                                    {% if reply.author.is_superuser %}
                                    <img src="{% static 'images/admin.png' %}" alt="Jane Doe"
                                        class="mr-3 mt-3 rounded-circle" style="width:2rem;">
                                    {% elif not reply.author.userprofileinfo.profile_pic %}
                                    <img src="{% static 'images/user_avatar.png' %}" alt="Jane Doe"
                                        class="mr-3 mt-3 rounded-circle" style="width:2rem;">
                                    {% else %}

                                    <img src="{{reply.author.userprofileinfo.profile_pic.url}}" alt="John Doe"
                                        class="mr-3 mt-3 rounded-circle" style="width:2rem; height: 2rem;">

                                    {% endif %}
                                    <div class="media-body">
                                    {% if reply.author.first_name and reply.author.last_name %}<h8 style="color: cadetblue;">{{reply.author.first_name}} {{reply.author.last_name}} <small
                                                style="color: cadetblue;"><i> {{reply.date_added}}</i></small>
                                        </h8>
                                        {% elif reply.author.is_superuser%}
                                        <h8  style="color: blue">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                        </svg>

                                        ADMIN

                                        <small
                                        style="color: cadetblue;"><i> {{comment.date_added}}</i></small></h8>

                                        {% else %}<h8 style="color: cadetblue;">{{reply.author.username}} <small
                                                style="color: cadetblue;"><i> {{reply.date_added}}</i></small>
                                        </h8>{% endif %}

                                        <p style="color: blue; background-color: cornsilk;">{{reply.reply_body}} [{{reply.type}}]</p>
                                        {% if reply.field %} <p>Sohasi: {{ reply.field }}</p> {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- form to post reply -->

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}