{% extends 'base.html' %} {% load static %} {%block content %}

<div
  class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
  style="background-image: url('{% static 'images/bg_1.jpg' %}')"
>
  <div class="container">
    <div class="row align-items-end justify-content-center text-center">
      <div class="col-lg-7">
        <h2 class="mb-0">Profilni o'zgartirish</h2>
        <p>Profilingizni o'zingiz xohlagandek o'zgartiring.</p>
      </div>
    </div>
  </div>
</div>
{% load crispy_forms_tags %}
<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="{% url 'index' %}">Bosh sahifa</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <a href="{% url 'profile' %}">Profilim</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">Profilni o'zgartirish</span>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        {% if not user.is_authenticated %}
        <h1 align="center">Tizimga kirmagansiz!</h1>

        {% elif %} {% if user.is_superuser %}
        <h1 align="center">Bu sahifa admin uchun emas!</h1>
        {% else %} {% for message in messages %}

        <h4
          class="alert btn-primary"
          style="text-align: center; display: block"
        >
          {{message}}
        </h4>

        {% endfor %}
        <form method="POST" enctype="multipart/form-data">
          <div class="col-md-12 form-group">
            {%csrf_token%} {{u_form|crispy}} {{p_form|crispy}}
            <button type="submit" class="btn btn-primary btn-lg px-5">
              Yangilash
            </button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
